### รายชื่อกลุ่ม
- #### นาย กรณวิทย์ พัฒนโชควานิช 6410450079
- #### นาย รัชพล หินซุย 6410450257
- #### นาย ปาณชัย คชกาษร 6410450176
- #### นาย ธนดล กฤตวีรนันท์ 6410450974

### อธิบายถึงข้อมูล
Kiva.org เป็นแพลตฟอร์มการระดมทุนออนไลน์เพื่อขยายบริการทางการเงินให้กับคนยากจนและถูกกีดกันทางการเงินทั่วโลก ผู้ให้กู้ Kiva ได้ให้เงินกู้ยืมมากกว่า 1 พันล้านดอลลาร์แก่ผู้คนกว่า 2 ล้านคน เพื่อกำหนดลำดับความสำคัญของการลงทุน ช่วยแจ้งผู้ให้กู้ และทำความเข้าใจกับชุมชนเป้าหมาย การทราบระดับความยากจนของผู้กู้แต่ละรายเป็นสิ่งสำคัญ อย่างไรก็ตาม ต้องใช้การอนุมานตามชุดข้อมูลที่จำกัดสำหรับผู้กู้แต่ละราย

### ที่มาของข้อมูล
- [kiva mpi region location](https://www.kaggle.com/datasets/kiva/data-science-for-good-kiva-crowdfunding?resource=download&select=kiva_mpi_region_locations.csv)

- [loan theme by region](https://www.kaggle.com/datasets/kiva/data-science-for-good-kiva-crowdfunding?resource=download&select=loan_themes_by_region.csv)

### ข้อมูลชุดนี้คนเก็บโดย
Kiva Crowdfunding

### รายละเอียดแต่ละ columns ของ kiva mpi region location
- <u>country</u> :  ชื่อประเทศที่ภูมิภาคนี้อยู่
- <u>region</u> : ชื่อภูมิภาค
- <u>world_region</u> : ชื่อโซนของโลกที่ภูมิภาคนี้อยู่
- <u>MPI</u> : ค่า MPI ของภูมิภาคนี้
- <u>geo</u> : พิกัดภูมิศาสตร์ของภูมิภาคนี้ (latitude, longitude)
- <u>MPI Rural, MPI Urban</u> : ค่า MPI สำหรับภูมิภาคชนบทและภูมิภาคเมืองของภูมิภาคนี้

### รายละเอียดแต่ละ columns ของ loan theme by region
- <u>Field Partner Name</u>: ชื่อผู้ให้บริการกู้ยืมเงิน
- <u>sector</u>: กลุ่มอุตสาหกรรมหรือกิจกรรมที่ผู้กู้มีส่วนเกี่ยวข้อง เช่น การเกษตร, การผลิต, การค้าปลีก, การศึกษา
- <u>Loan Theme Type</u> : ประเภทของการกู้ยืม เช่น กู้ยืมเพื่อการศึกษา, กู้ยืมเพื่อซื้ออุปกรณ์การผลิต
- <u>country</u> : ชื่อประเทศ
- <u>region</u> : ชื่อภูมิภาค
- <u>amount</u> : จำนวนเงินที่กู้ยืมในหน่วยเงินตราของประเทศนั้นๆ
- <u>funded_amount</u> : จำนวนเงินที่ได้รับการจัดสรรเพื่อการกู้ยืมในหน่วยเงินตราของประเทศนั้นๆ
- <u>repayment_interval</u> : ระยะเวลาในการชำระเงินคืน เช่น ชำระทุกสัปดาห์, ชำระทุกเดือน, ชำระเมื่อได้รับเงิน
- <u>geo</u> : ตำแหน่งภูมิศาสตร์ของภูมิภาคในรูปแบบ latitude, longitude
- <u>rural_pct</u> : บอกสัดส่วนของประชากรในพื้นที่ที่มีลักษณะชนบทหรือไม่เป็นเมือง โดยค่าสูงสุดของตัวแปรนี้จะเท่ากับ 100% หมายความว่าทุกคนในพื้นที่นั้นเป็นประชากรชนบท และค่าต่ำสุดของตัวแปรนี้จะเป็น 0% หมายความว่าทุกคนในพื้นที่นั้นเป็นประชากรในเมือง

### รายละเอียดแต่ละ columns ของ kiva loan
- <u>id</u>: เลขประจำตัวของสัญญากู้ยืมเงิน (loan) บนแพลตฟอร์ม Kiva
- <u>funded_amount</u>: จำนวนเงินที่ได้รับการสนับสนุน (funding) จากผู้ให้กู้ในสัญญานี้
- <u>loan_amount</u>: จำนวนเงินที่ถูกขอกู้ในสัญญานี้
- <u>activity</u>: กิจกรรมหลักที่ผู้กู้ต้องการใช้เงินกู้ในการดำเนินชีวิต
- <u>sector</u>: ภูมิภาคของกิจกรรมหลัก (เช่น การศึกษา, การผลิต, การค้าส่ง)
- <u>use</u>: วัตถุประสงค์หลักที่ผู้กู้ต้องการใช้เงินกู้
- <u>country_code</u>: รหัสประเทศของที่อยู่ของผู้กู้
- <u>country</u>: ชื่อประเทศของที่อยู่ของผู้กู้
- <u>region</u>: ชื่อของเมืองหรือชื่อภูมิภาค
- <u>currency</u>: สกุลเงินที่ใช้ในสัญญานี้
- <u>partner_id</u>: รหัสพันธมิตรที่เชื่อมโยงกับสัญญานี้ (หน่วยงานที่ช่วยสนับสนุนการกู้ยืมเงินใน Kiva)
- <u>posted_time</u>: วันที่และเวลาที่สัญญาถูกโพสต์บนแพลตฟอร์ม Kiva
- <u>disbursed_time</u>: วันที่และเวลาที่เงินกู้
- <u>funded_time</u>: วันที่และเวลาที่เงินกู้ถูกเตมเตมจนสมบรณบนแพลตฟอรม Kiva
- <u>term_in_months</u>: ระยะเวลาที่ต้องชำระต่อเดือน
- <u>lender_count</u>: จำนวนผู้ให้กู้ที่มีส่วนร่วมในการสนับสนุนสัญญาที่บัญชาใน 1 การกู้
- <u>tags</u>: แทกทเกยวของกบสญญาน (คำอธบายยอยเกยวกบการใชเงนก)
- <u>borrower_genders</u>: เพศของผู้กู้
- <u>repayment_interval</u>: รูปแบบการชำระเงินกู้ (รายเดือน, รายปี, ไม่ระบุ)
- <u>date</u>: วันที่และเวลาที่สัญญาถูกนำเข้ามายงฐานขอมลของ Kiva

### หัวข้อที่สนใจ

การวิเคราะห์ความสัมพันธ์ระหว่าง ความสามารถในการชำระเงินคืนของแต่ละประเทศกับสภาพเศรษฐกิจและสังคม

###  เพื่ออะไร
เพื่อนำข้อมูลที่ได้ไปวิเคราะห์เชิงสถิติที่น่าสนใจ เช่น ค่าเฉลี่ยการชำระเงินคืนในแต่ละประเทศ แนวโน้มของการกู้ยืมเงินในแต่ละประเทศ ปัจจัยที่มีผลต่อการชำระเงินคืน เช่น ระดับการศึกษาของผู้กู้ยืม เปอร์เซ็นต์ผู้หญิงที่กู้ยืมเงิน รวมถึงตัวแปรอื่นๆ ที่สามารถส่องได้จากข้อมูลใน dataset นี้ เพื่อให้เกิดความเข้าใจและเสริมสร้างความรู้ในการวิเคราะห์ข้อมูลในด้านการกู้ยืมเงินและสภาพเศรษฐกิจของแต่ละประเทศ

1. สร้างข้อมูลสถิติพื้นฐานเกี่ยวกับการชำระเงินคืนและสภาพเศรษฐกิจของแต่ละประเทศ เพื่อหาความสัมพันธ์ระหว่างพวกนี้
วิเคราะห์และสรุปข้อมูลเพื่อหาข้อสรุปที่น่าสนใจเกี่ยวกับความสัมพันธ์ระหว่างการชำระเงินคืนและสภาพเศรษฐกิจของแต่ละประเทศ
2. สร้างโมเดลการพยากรณ์เพื่อทำนายการชำระเงินคืนในอนาคตของแต่ละประเทศโดยใช้ข้อมูลสภาพเศรษฐกิจและสังคมเป็นตัวแปรอิสระ
3. วิเคราะห์ข้อมูลเพื่อหาตัวแปรสำคัญที่ส่งผลต่อการชำระเงินคืนในแต่ละประเทศ เช่น อัตราการเงินเดือนเฉลี่ย ราคาอสังหาริมทรัพย์ หรือค่าโดยสารสาธารณะ
4. ทำการจัดเรียงข้อมูลให้เหมาะสมเพื่อนำไปใช้ในการสร้างกราฟและแผนภูมิเพื่อให้ผู้อื่นเข้าใจข้อมูลได้ง่ายขึ้น

### DATA CLEANING

ทำการรวมข้อมูลที่ต้องการใช้งาน นั่นคือ เอา kiva_mpi_region_locations.csv และ loan_themes_by_region.csv มารวมกันเพื่อให้เราสามารถวิเคราะห์ความสัมพันธ์ระหว่างการกู้ยืมและสภาพเศรษฐกิจและสังคมของแต่ละภูมิภาคหรือพื้นที่ในแต่ละประเทศได้ โดยทั้งสองตารางนี้มีข้อมูลเกี่ยวกับพื้นที่ของแต่ละประเทศ โดย kiva_mpi_region_locations.csv มีข้อมูลเกี่ยวกับดัชนีความยากจนในแต่ละพื้นที่ของแต่ละประเทศ และ loan_themes_by_region.csv มีข้อมูลเกี่ยวกับประเภทของการกู้ยืมและจำนวนเงินที่กู้ยืมในแต่ละพื้นที่ของแต่ละประเทศ

#### การอ่านไฟล์ csv และการสำรวจข้อมูล โดยใช้ไลบรารี่ pandas เพื่ออ่านไฟล์ csv และดูข้อมูลตัวอย่างในไฟล์

In [126]:
import pandas as pd
import numpy as np

# อ่านไฟล์ csv และเก็บข้อมูลใน dataframe
df_kiva_mpi = pd.read_csv('dataset/kiva_mpi_region_locations.csv')
kiva_loans = pd.read_csv('dataset/kiva_loans.csv')
df_loan_themes_by_region = pd.read_csv('dataset/loan_themes_by_region.csv')

# ดูข้อมูลตัวอย่างใน dataframe
print(df_kiva_mpi.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationName  984 non-null    object
 1   ISO           1008 non-null   object
 2   country       1008 non-null   object
 3   region        984 non-null    object
 4   world_region  1008 non-null   object
 5   MPI           984 non-null    float64
 6   geo           2772 non-null   object
 7   lat           892 non-null    float64
 8   lon           892 non-null    float64
dtypes: float64(3), object(6)
memory usage: 195.0+ KB
None

In [127]:
print(kiva_loans.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671205 entries, 0 to 671204
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  671205 non-null  int64
 1   funded_amount       671205 non-null  float64
 2   loan_amount         671205 non-null  float64
 3   activity            671205 non-null  object
 4   sector              671205 non-null  object
 5   use                 666973 non-null  object
 6   country_code        671197 non-null  object
 7   country             671205 non-null  object
 8   region              614405 non-null  object
 9   currency            671205 non-null  object
 10  partner_id          657698 non-null  float64
 11  posted_time         671205 non-null  object
 12  disbursed_time      668809 non-null  object
 13  funded_time         622874 non-null  object
 14  term_in_months      671205 non-null  float64
 15  lender_count        671205 non-null  int64
 16  tags                499789 non-null  object
 17  borrower_genders    666984 non-null  object
 18  repayment_interval  671205 non-null  object
 19  date                671205 non-null  object
dtypes: float64(4), int64(2), object(14)
memory usage: 102.4+ MB
None

In [128]:
print(df_loan_themes_by_region.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15736 entries, 0 to 15735
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Partner ID          15736 non-null  int64
 1   Field Partner Name  15736 non-null  object
 2   sector              15736 non-null  object
 3   Loan Theme ID       15736 non-null  object
 4   Loan Theme Type     15736 non-null  object
 5   country             15736 non-null  object
 6   forkiva             15736 non-null  object
 7   region              15736 non-null  object
 8   geocode_old         1200 non-null   object
 9   ISO                 15722 non-null  object
 10  number              15736 non-null  int64
 11  amount              15736 non-null  int64
 12  LocationName        15736 non-null  object
 13  geocode             13662 non-null  object
 14  names               13661 non-null  object
 15  geo                 15736 non-null  object
 16  lat                 13662 non-null  float64
 17  lon                 13662 non-null  float64
 18  mpi_region          15722 non-null  object
 19  mpi_geo             9671 non-null   object
 20  rural_pct           14344 non-null  float64
dtypes: float64(3), int64(3), object(15)
memory usage: 2.5+ MB
None

### Clean Data kiva_loans.csv

#### ลบคอลัมน์ที่ไม่ต้องการ

In [129]:
kiva_loans = kiva_loans.drop(['use', 'tags', 'borrower_genders'], axis=1)

#### แปลงคอลัมน์ funded_time, planned_expiration_time, posted_time เป็น datetime format

In [130]:
kiva_loans['funded_time'] = pd.to_datetime(kiva_loans['funded_time'])
kiva_loans['posted_time'] = pd.to_datetime(kiva_loans['posted_time'])
kiva_loans['disbursed_time'] = pd.to_datetime(kiva_loans['disbursed_time'])

#### แปลงคอลัมน์ term_in_months เป็น float และ ปัดเศษลง

In [131]:
kiva_loans['term_in_months'] = kiva_loans['term_in_months'].astype(float).apply(np.floor)

#### แปลงคอลัมน์ loan_amount เป็น int

In [132]:
kiva_loans['loan_amount'] = kiva_loans['loan_amount'].astype(int)

#### แปลงคอลัมน์ lender_count เป็น int

In [133]:
kiva_loans['lender_count'] = kiva_loans['lender_count'].astype(int)

#### แปลงคอลัมน์ country_code เป็น category

In [134]:
kiva_loans['country_code'] = kiva_loans['country_code'].astype('category')

#### แปลงคอลัมน์ repayment_interval เป็น category

In [135]:
kiva_loans['repayment_interval'] = kiva_loans['repayment_interval'].astype('category')

#### ลบแถวที่มี missing value

In [136]:
kiva_loans = kiva_loans.dropna()

#### ลบแถวที่ loan_amount เป็น 0

In [137]:
kiva_loans = kiva_loans[kiva_loans['loan_amount'] != 0]

### Clean Data loan_themes_by_region.csv

#### แทนค่า missing value ใน column amount ด้วยค่าเฉลี่ยของ column นั้น

In [138]:
amount_mean = df_loan_themes_by_region["amount"].mean()
df_loan_themes_by_region["amount"].fillna(amount_mean, inplace=True)

### Clean kiva_mpi_region_locations.csv

#### เลือกและเปลี่ยนชื่อ columns ที่ต้องการ

In [139]:
df_kiva_mpi=df_kiva_mpi[['LocationName', 'ISO', 'country', 'region', 'world_region', 'MPI', 'geo', 'lat', 'lon']]
df_kiva_mpi.columns = ['location_name', 'iso_code', 'country', 'region', 'world_region', 'mpi', 'geo', 'latitude', 'longitude']

#### แปลงตัวเลขจาก string เป็น float

In [140]:
df_kiva_mpi['mpi'] = df_kiva_mpi['mpi'].astype(float)

#### ลบแถวที่มีค่า MPI เป็น NaN

In [141]:
df_kiva_mpi=df_kiva_mpi.dropna(subset=['mpi'])

In [142]:
print(df_kiva_mpi.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 1007
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   location_name  984 non-null    object
 1   iso_code       984 non-null    object
 2   country        984 non-null    object
 3   region         984 non-null    object
 4   world_region   984 non-null    object
 5   mpi            984 non-null    float64
 6   geo            984 non-null    object
 7   latitude       892 non-null    float64
 8   longitude      892 non-null    float64
dtypes: float64(3), object(6)
memory usage: 76.9+ KB
None

### เมื่อทำ การ clean data ทั้งสาม dataset แล้ว เราจะนำมารวมกันโดยการ join เพื่อนำไปวิเคราะห์ และ หา insight ขอ ข้อมูลที่น่าสนใจต่อไป

In [143]:
df_merged = pd.merge(kiva_loans,df_loan_themes_by_region, on='region', how='inner')
df_merged

,id,funded_amount,loan_amount,activity,sector_x,country_code,country_x,region,currency,partner_id,...,amount,LocationName,geocode,names,geo,lat,lon,mpi_region,mpi_geo,rural_pct
0,653051,300.0,300,Fruits & Vegetables,Food,PK,Pakistan,Lahore,PKR,247.0,...,124250,"Lahore, Pakistan","[(31.55460609999999, 74.3571581)]",Lahore; Lahore District; Punjab; Pakistan,"(31.55460609999999, 74.3571581)",31.554606,74.357158,"Punjab, Pakistan","(31.1704063, 72.7097161)",25.0
1,653051,300.0,300,Fruits & Vegetables,Food,PK,Pakistan,Lahore,PKR,247.0,...,199225,"Lahore, Pakistan","[(31.55460609999999, 74.3571581)]",Lahore; Lahore District; Punjab; Pakistan,"(31.55460609999999, 74.3571581)",31.554606,74.357158,"Punjab, Pakistan","(31.1704063, 72.7097161)",25.0
2,653051,300.0,300,Fruits & Vegetables,Food,PK,Pakistan,Lahore,PKR,247.0,...,1719325,"Lahore, Pakistan","[(31.55460609999999, 74.3571581)]",Lahore; Lahore District; Punjab; Pakistan,"(31.55460609999999, 74.3571581)",31.554606,74.357158,"Punjab, Pakistan","(31.1704063, 72.7097161)",0.0
3,653051,300.0,300,Fruits & Vegetables,Food,PK,Pakistan,Lahore,PKR,247.0,...,38250,"Lahore, Pakistan","[(31.55460609999999, 74.3571581)]",Lahore; Lahore District; Punjab; Pakistan,"(31.55460609999999, 74.3571581)",31.554606,74.357158,"Punjab, Pakistan","(31.1704063, 72.7097161)",0.0
4,653053,575.0,575,Rickshaw,Transportation,PK,Pakistan,Lahore,PKR,247.0,...,124250,"Lahore, Pakistan","[(31.55460609999999, 74.3571581)]",Lahore; Lahore District; Punjab; Pakistan,"(31.55460609999999, 74.3571581)",31.554606,74.357158,"Punjab, Pakistan","(31.1704063, 72.7097161)",25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2262662,1335475,200.0,200,Pigs,Agriculture,PH,Philippines,"Benito Soliven, Isabela",PHP,123.0,...,500,"Benito Soliven, Isabela, Philippines","[(16.9347472, 121.9245556)]",Benito Soliven; Isabela; Cagayan Valley; Phili...,"(16.9347472, 121.9245556)",16.934747,121.924556,"Cagayan Valley, Philippines","(16.9753758, 121.8107079)",84.0
2262663,1335578,325.0,325,Livestock,Agriculture,AM,Armenia,Lchap village,AMD,169.0,...,325,"Lchap village, Armenia","[(40.4569225, 45.0735108)]",Lchap; Gegharkunik Province; Armenia,"(40.4569225, 45.0735108)",40.456922,45.073511,ARM,NaN,68.0
2262664,1336005,300.0,300,Agriculture,Agriculture,NI,Nicaragua,La Concordia,USD,226.0,...,300,"La Concordia, Nicaragua","[(13.1959918, -86.16881769999999)]",La Concordia; Jinotega Department; Nicaragua,"(13.1959918, -86.16881769999999)",13.195992,-86.168818,"Jinotega, Nicaragua","(13.0883907, -85.9993997)",99.0
2262665,1336956,625.0,625,Clothing Sales,Clothing,PE,Peru,San Ignacio-Cajamarca,PEN,484.0,...,1875,"San Ignacio-Cajamarca, Peru","[(-5.1454968, -79.00564960000001)]",San Ignacio Province; Peru,"(-5.1454968, -79.00564960000001)",-5.145497,-79.005650,"Piura, Peru","(-5.1782884, -80.6548882)",99.0
2262666,1337058,4425.0,4425,Agriculture,Agriculture,SL,Sierra Leone,Gbenikoro Village,SLL,504.0,...,30075,"Gbenikoro Village, Sierra Leone",NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,SLE,NaN,100.0

In [144]:
df_merged = pd.merge(df_merged, df_kiva_mpi, on='region', how='inner')
df_merged

,id,funded_amount,loan_amount,activity,sector_x,country_code,country_x,region,currency,partner_id,...,mpi_geo,rural_pct,location_name,iso_code,country,world_region,mpi,geo_y,latitude,longitude
0,653359,600.0,600,Machinery Rental,Services,NI,Nicaragua,Leon,NIO,96.0,...,"(28.3998551, 83.6895693)",30.0,"Leon, Nicaragua",NIC,Nicaragua,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
1,653359,600.0,600,Machinery Rental,Services,NI,Nicaragua,Leon,NIO,96.0,...,"(28.3998551, 83.6895693)",21.0,"Leon, Nicaragua",NIC,Nicaragua,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
2,653359,600.0,600,Machinery Rental,Services,NI,Nicaragua,Leon,NIO,96.0,...,"(28.3998551, 83.6895693)",21.0,"Leon, Nicaragua",NIC,Nicaragua,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
3,653359,600.0,600,Machinery Rental,Services,NI,Nicaragua,Leon,NIO,96.0,...,"(28.3998551, 83.6895693)",21.0,"Leon, Nicaragua",NIC,Nicaragua,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
4,653373,1000.0,1000,Grocery Store,Food,NI,Nicaragua,Leon,NIO,96.0,...,"(28.3998551, 83.6895693)",30.0,"Leon, Nicaragua",NIC,Nicaragua,Latin America and Caribbean,0.031,"(28.3998551, 83.6895693)",28.399855,83.689569
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317822,1207220,2075.0,2075,Farm Supplies,Agriculture,MZ,Mozambique,Manica,MZN,468.0,...,"(-18.9438274, 32.8648538)",NaN,"Manica, Mozambique",MOZ,Mozambique,Sub-Saharan Africa,0.301,"(-18.9438274, 32.8648538)",-18.943827,32.864854
317823,1207690,1925.0,1925,Farm Supplies,Agriculture,MZ,Mozambique,Manica,MZN,468.0,...,"(-18.9438274, 32.8648538)",NaN,"Manica, Mozambique",MOZ,Mozambique,Sub-Saharan Africa,0.301,"(-18.9438274, 32.8648538)",-18.943827,32.864854
317824,1207701,925.0,925,Farm Supplies,Agriculture,MZ,Mozambique,Manica,MZN,468.0,...,"(-18.9438274, 32.8648538)",NaN,"Manica, Mozambique",MOZ,Mozambique,Sub-Saharan Africa,0.301,"(-18.9438274, 32.8648538)",-18.943827,32.864854
317825,1300428,5050.0,5050,Higher education costs,Education,PE,Peru,Tacna,USD,358.0,...,"(-18.0065679, -70.2462741)",99.0,"Tacna, Peru",PER,Peru,Latin America and Caribbean,0.008,"(-18.0065679, -70.2462741)",-18.006568,-70.246274
317826,1323945,10000.0,10000,Weaving,Arts,BT,Bhutan,Thimphu,USD,534.0,...,"(27.4727924, 89.6392863)",NaN,"Thimphu, Bhutan",BTN,Bhutan,South Asia,0.016,"(27.4727924, 89.6392863)",27.472792,89.639286